@import './reset.css';
@import './fonts.css';

:root {
  /* Utilities */
  --padding-sm: 0.5rem;
  --padding-md: 2rem;
  --padding-lg: 3rem;

  /* Box Shadows */
  --shadow-sm: 3px 3px 1rem var(--color-dark-shade);
  --shadow-md: 3px 3px 1rem 0.5rem var(--color-dark-shade);

  /* Font Family */
  --font-family-title: 'Josefin Sans';

  /* Sizes */
  --size-text-sm: 0.8rem;
  --size-text-md: 1.3rem;
  --size-text-lg: 2rem;
  --size-toast: 25rem;

  /* Border */
  --border-thin: 1px solid var(--color-light-shade);
  --border-radius-xs: 0.5rem;
  --border-radius-sm: 1rem;
  --border-radius-md: 2rem;
  --border-radius-lg: 3rem;
  --border-radius-circle: 50%;

  /* Colors */
  --color-primary: #2541b2;
  --color-white: #fff;
  --color-black: #000;
  --color-success: #008b00;
  --color-warning: #ffde03;
  --color-danger: #b00020;

  &[data-theme='light'] {
    /* Colors */
    --color-text: #444;
    --color-text-accent: #000;
    --color-background: #fff;
    --color-background-content: #f7f7f7;
    --color-light-shade: #e0e0e0;
    --color-dark-shade: #e0e0e0;
  }

  &[data-theme='dark'] {
    /* Colors */
    --color-text: #ccc;
    --color-text-accent: #fff;
    --color-background: #171717;
    --color-background-content: #121212;
    --color-light-shade: #222;
    --color-dark-shade: #1b1b1b;
    --color-primary: #2949ca;
    --color-danger: #e70b33;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-content);
}
